<!DOCTYPE html>
<html lang="ES">
<head>
	<!--{% load staticfiles %}-->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>RunPlayers!</title>
	<!--
	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
	<link rel="stylesheet" href="{% static "css/stilos.css" %}">
	-->
	<link rel="stylesheet" type="text/css" href="static/css/normalize.css"> 
	<link rel="stylesheet" type="text/css" href="static/css/stilos.css">
</head>	
<body>
	   <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
	<header>

			<div class="agregar_jugador_left">
					<h4 class="accion_left">
						<a href="{% url 'invitar' %}">Invitar Jugador</a>
					</h4>
			</div>

			<div class="titular">
					<h1 class="titulo">
						RunPlayers
					</h1>
			</div>

			<div class="logo_usuario_right">
     				<img src="static/imagenes/grupos.jpg">
     				<a href="{% url 'auth:logout' %}?next={%url 'home' %}">Logout</a>
					
			</div>
	</header>
	<nav>
		<ul class="menu">
			<li class="Nuevo_Grupo"><a href="{% url 'registrar' %}">Nuevo Grupo +</a></li>
			<li class="nombre"><a href="#">{{nombreDelGrupo}}</a></li>
			<li class="cambiar"><a href="#">cambiar de grupo</a>
				<ul class="sub">
					<li><a href="">Submenu1</a></li>
					<li><a href="">Submenu2</a></li>
					<li><a href="">Submenu3</a></li>
					<li><a href="">Submenu4</a></li>
				</ul>
			</li>
		</ul>
	</nav>

<section class="wrap_0">
		<section class="wrap">
			<div class ="lista">
				<div class = "menu">
					<TABLE class="asistencia" FRAME="void" RULES="cols" >
				 	 <TR>
						   <TD>nombre</TD>
					 	   <TD>Asistira!</TD>
				 	 </TR>  
					
				  	<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>
				  
				  	<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  	<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  	<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  	<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>

				  		<TR>
					    <TD>{{usuario.jugador.username}}</TD>
					    <TD><input name="asistencia" type="checkbox" checked="{{usuario.asistencia}}" />
					    </TD>
				  	</TR>


				
					</TABLE>
				</div>	
				<div class="acciones">
					<div class="asistir_noAsistir">
						<a class="asisto" href="#">Asistir</a>
						<a class="no_asisto" href="#">No Asistir</a>
					</div>
				</div>
			</div>
			<div class="titulares">
				<h3>
					<strong class="titulo">cantidad!:</strong>
					<strong class="cantidad">23</strong>
				</h3>			
			</div>
 		</section >
	
	<section class="wrap">
	
			<ul class = "equipos_resulado">
				<li class="equipo">{{equipo1}}</li>
				<li class="goles">123</li>
				<li class="vs">VS</li>
				<li class="equipo">{{equipo2}}</li>
				<li class="goles">124</li>
			</ul>
		
			
			<div class="equipos">
				<TABLE class="tabla" FRAME="void" RULES="cols">
				  <TR>
					    {% for equipo in Todos_los_equipos %}
					    	<TD>{{equipo}}</TD>
					    {% endfor %}
				  </TR>
				{% for jugador_v, jugador_l in jugadores %}
				  <TR>
					   	<TD>{{jugador_v}}</TD>
					    <TD>{{jugador_l}}</TD>
				  </TR>
				{% endfor %}
				</TABLE>
			</div>
			
			<div class="acciones">
				<a class="cambiar_a" href="#">cambiazo</a>
			</div>

		
		<div class="wrap_2">
			<a class="estrategia" href="#">Estrategia</a>
		</div>

	</section>

</section>

<footer>
	<h3>
		<strong>Powered by FutbolitoDomingero<br></strong>
		<span class="mejor">v0.1 por chako</span>
	</h3>
</footer>

<script>
		
</script>

</body>
</html>