azul = #22BCE0
gris_oscuro = #444
gris_texto = #7A7A7A
naranja = #DD4F24

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500italic);

#canchas
	color #147032
	text-decoration none
	li
		display inline-block
		margin-right 50px

footer
	background naranja
	color rgba(white,0.5)
	text-align center
	padding 1em 0em
	h3
		font-size 14px
		font-weigt normal
		margin-bottom 0px
		margin-top 0px
		strong
			display block
		.mejor
			&:before
			&:after
				content " - "	
	width 100%
	
.wrap_0
	.invitar
		text-align center
		margin-top 10px
		.usuario
			.datos
				width 95%
				margin-left 2%	
				margin-top  2%
				.titulo
					font-size 14px
					box-shadow 2px 2px 10px rgba(black,1)
				.dato-jugador
					td
						height 70px
						margin-top 60px
	.carta
		width 100%
		text-align center
		margin-top 10px
		font-size 14px
		//box-shadow 4px 4px 10px rgba(black,0.5)
		.rechazar
			color naranja
			text-decoration none
			margin-left 18px
			float left
		a
			color #0000FF
			

	.formulario
		box-shadow 2px 2px 10px rgba(black,1)
		text-align center
		.boton-guardar
			border-radius
			box-shadow 4px 4px 10px rgba(black,0.5)
			width 20%
			background: #398525
			background: -moz-linear-gradient(top, #8DD297 0%, #398525 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DD297), color-stop(100%,#398525));
			margin-bottom 12px
			height 50px
			box-shadow inset 0px 0px 6px #fff
    		-webkit-box-shadow: inset 0px 0px 6px #fff
    		border  1px solid #5ea617
    		border-radius  10px
    		font-weight bold 55px/25px Helvetica, Sans-Serif
    		text-align center
    		text-transform uppercase
    		text-decoration none
    		color #147032
    		text-shadow 0px 1px 2px #b4d1ad
a 
	color naranja
	text-decoration none
body
	background #E8E8E8
	color gris_oscuro
	font-family: 'Ubuntu', sans-serif;
	font-size 14px
	a 
		color naranja
		text-decoration none
	.wrap_0
		padding 0.5em
		.wrap
			width 100%
			vertical-align top
			border-radius 0 0 0.5em 0.5em
			text-align center
			box-shadow 4px 4px 10px rgba(black,0.5)
			.equipos_resulado
				height 35px
				background white
				color gris_texto
				box-shadow 2px 2px 10px rgba(black,0.5)
				padding 0
				li
					display inline-block
					margin-top 9px
				.goles
					border 2px solid  red
				.vs
					padding 2px
					color red
			.equipos
				.tabla
					td 
						width 50%
					width 100%
			.acciones
				border-top 3px solid naranja
				padding 0.5em
				text-align center

			.lista
				background white 
				border-radius 0 0 0.5em 0.5em
				color gris_texto
				box-shadow 2px 2px 10px rgba(black,0.5)
				.menu
					text-align center
					.asistencia
						td 
							width 50%	
						width 100%
						text-align center	
			.titulares
				text-align center
				box-shadow 2px 2px 10px rgba(black,1)
				width 100%
				height 40px
				.titulo
					color azul
					margin-right 10px
					font-size 25px
					font-weigt normal
				.cantidad
					color red
					font-size 25px
					font-family italic				
			.asisto
				margin 2em
			
		.wrap_2
			box-shadow 2px 2px 10px rgba(black,1)
			width 100%
			height 40px
			text-align center
			background #05e617
			a
				color white
				font-size 25px
				font-family italic 
nav
	background azul
	text-align center
	.menu
		margin 0;
		height 30px
		line-heigth 30px
		padding 0
		li
			display inline-block
			a
				color white
				display inline-block
				margin 0 0,5em
				padding 0.5em		
		.Nuevo_Grupo
			float left
		.cambiar
			float right
header 
	background gris_oscuro
	color white 
	overflow hidden
	padding 0.5em
	text-align center
	.agregar_jugador_left
		display inline-block
		float left
		border-right 1px solid azul 
		left 10px
		top 10px
		width 120px
		h5
		  	font-size 28px
		a
			color naranja
			text-decoration none
	.logo_usuario_right
		
		float right
		display inline-block
		right 10px
		top 10px
		width 140px
		img
			height 57%
			width 47%
			border-radius 9px
			margin-top 9px
		a
			color red
			float right
			margin-top 17px
		
	.titular
		display inline-block
		margin 10px 40px 15px 70px
		.titulo
			font-size 2em
			font-weigt normal
			font-style italic
			text-align center
			margin 0
			padding 0
@media screen and (min-width: 768px)
	body
		.wrap_0
			.invitar
				.buscador
					font-size: 23px;
				.usuario
					.datos
						width 50%
						margin-top  2%
						margin-left 25%
						.titulo
							font-size 24px
	
			.wrap
				display inline-block
				width 48%
				vertical-align top
				&:nth-child(odd)
					margin-right 2%
				.equipos_resulado
					margin-top 0
			
			.wrap_2
				margin-right 2%
				border-radius 0 0 0.5em 0.5em
				box-shadow 4px 4px 10px rgba(red,1)
			.carta
				width 50%
				margin-left 25%
				font-size 24px
				.rechazar
					color naranja
					text-decoration none
					margin-left 15%
					float left
