<!DOCTYPE html>
<html lang="ES">
<head>
	{% load staticfiles %}
	<meta charset="utf-8"/>
	 <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>El FutbolitoDomingero WEB!!</title>
	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
	<link rel="stylesheet" href="{% static "css/stilos.css" %}">
</head>	
<body>
	   <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
	<header>
	{% block wraper %}
			{% block wraper_izquierda %}
				<div class="agregar_jugador_left">
					<h4>
						<a href="{% url 'invitar' %}">Invitar Jugadores</a>
					</h4>
				</div>
			{% endblock wraper_izquierda %}
			{% block wraper_centro %}
				<div class="titular">
					<h1 class="titulo">
						RunPlayers
					</h1>
				</div>
			{% endblock wraper_centro %}
			{% block wraper_derecho %}
				<div class="logo_usuario_right">
   					{% if user and not user.is_anonymous %}
     					<img src="{{user.avatar}}">
     					<a>{{ user.get_full_name|default:user.username }}!</a>	
       					<p>
       					<a href="{% url 'auth:logout' %}?next={%url 'home' %}">Logout</a>
       					</p>
   					{% else %}
     					<ul>
     						<li>
       							<a href="{% url 'social:begin' 'facebook' %}?next={%url 'home' %}">Login with Facebook</a>
     						</li>
     					</ul>
   					{% endif %}
				</div>
			{% endblock wraper_derecho %}
	{% endblock %}
	</header>
	<nav>
		{% block wraper1 %}
		{% endblock %}
	</nav>
	<section class="wrap_0">
		{% block wraper2 %}
		{% endblock %}
	</section>
<footer>
	<h3>
		<strong>Powered by FutbolitoDomingero<br></strong>
		<span class="mejor">v0.1 por chako</span>
	</h3>
</footer>
<script>
		
</script>
</body>
</html>
