<!DOCTYPE html>
<html lang="ES">
<head>
	{% load staticfiles %}
	<meta charset="utf-8"/>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>El FutbolitoDomingero WEB!!</title>
	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
	<link rel="stylesheet" href="{% static "css/stilos.css" %}">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	

</head>	
<body>
	   <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
	<header>
	{% block wraper %}
	{% endblock %}
	</header>
	<nav>
		{% block wraper1 %}
		{% endblock %}
	</nav>
	<section class="wrap_0">
		{% block wraper2 %}
		{% endblock %}
	</section>
<footer>
	<h3>
		<strong>Powered by FutbolitoDomingero<br></strong>
		<span class="mejor">v0.1 por chako</span>
	</h3>
</footer>
</body>
{% block javascript%}

{% endblock %}
</html>
