<!DOCTYPE html>
<html lang="ES">
<head>
	{% load staticfiles %}
	<meta charset="utf-8"/>
	 <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>El FutbolitoDomingero WEB!!</title>
	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
	<link rel="stylesheet" href="{% static "css/stilos.css" %}">
</head>	
<body>
	   <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
	<header>
		<div class="agregar_jugador_left">
			<h5>
				Inesperado
			</h5>
		</div>
		<div class="titular">
			<h1 class="titulo">
				ERROR
			</h1>
		</div>
		<div class="logo_usuario_right">
 			<a href="{%url 'home' %}">vuelva home</a>
		</div>
	</header>
<footer>
	<h3>
		<strong>Powered by FutbolitoDomingero<br></strong>
		<span class="mejor">v0.1 por chako</span>
	</h3>
</footer>
</body>
</html>
