{% extends "Futbool-template/base.html" %}
{% load staticfiles %}
{% block wraper %}
		<div class="agregar_jugador_left">
			<h5>
				Inesperado
			</h5>
		</div>
		<div class="titular">
			<h1 class="titulo">
				ERROR
			</h1>
		</div>
		<div class="logo_usuario_right">
			<ul>
   				<li>
    				<a href="{%url 'home' %}">vuelva home</a>
    			</li>
   			</ul>
		</div>
{% endblock %}
{% block wraper1 %}
	<ul class="menu">
		<li class="Nuevo_Grupo"><a href="#">#</a></li>
		<li class="nombre"><a href="#">ES NUESTRA CULPA NO LA SUYA! </a></li>
		<li class="cambiar"><a href="#">#</a></li>
	</ul>
{% endblock %}
{% block wraper2 %}
	<img src="{% static "imagenes/error_mono.jpg" %}" height = "100%" width="100%">
{% endblock %}