{% extends "Futbool-template/base.html" %}
	{% block wraper %}
			{% block wraper_izquierda %}
			<div class="agregar_jugador_left">
				<h4 class="accion_left">
				   <a href="{% url 'invitar' %}">Invitar Jugador</a>
				</h4>
			</div>
			
			{% endblock wraper_izquierda %}

			{% block wraper_centro %}
			<div class="titular">
				<h1 class="titulo">
					RunPlayers
				</h1>
			</div>
			{% endblock wraper_centro %}

			{% block wraper_derecho %}
				<div class="logo_usuario_right">
     				    <img src="{{user.avatar}}">
     				    <a href="{% url 'auth:logout' %}?next={%url 'home' %}">Logout</a>
				</div>
			{% endblock wraper_derecho %}
	{% endblock %}
{% block wraper1 %}
	<ul class="menu">
		<li class="Nuevo_Grupo"><a href="{% url 'registrar' %}">Nuevo Grupo +</a></li>
		<li class="nombre">
		<a id="nombre_de_grupo" href="#">{{nombreDelGrupo}}</a>
		    {%if cant > 0%}
                             <a href="{% url 'invitacion' %}">{{cant}}</a>
                        {%endif%}
		</li>
		<li class="cambiar"><a href="#">cambiar de grupo</a>
			<ul class="sub">
				{% for grupos in nombreDelGrupos %}
				    {%if grupos.nombreDGrupos.nombreDelGrupo != nombreDelGrupo%}
				        <li><a class="cambiarlo" href="/homes/{{grupos.nombreDGrupos.id}}" >{{grupos.nombreDGrupos.nombreDelGrupo}}</a></li>
                                         {%endif%}
				{% endfor %}
			</ul>
		</li>
	</ul>
{% endblock %}

{% block wraper2 %}
<section class="wrap">
			<div class ="lista">
				<div class = "menu">
					<TABLE class="asistencia" FRAME="void" RULES="cols" >
				 	 <TR>
						   <TD>nombre</TD>
					 	   <TD>Asistira!</TD>
				 	 </TR>
					{% for usuario in todos_los_usuarios %}
				  	<TR>
					    <TD>{{usuario.usuario.username}}</TD>
					    {%if usuario.asistencia == True%}
					        {%if usuario.usuario.username == user.username%}
					            <TD><input name="asistencia" type="checkbox" checked/>
					           {%else%}
					            <TD><input name="asistencia" type="checkbox" checked disabled = "disabled"/>
	                                               {%endif%}
					    {%else%}
	                                               {%if usuario.usuario.username == user.username%}
					                 <TD><input name="asistencia" type="checkbox" />
	                                               {%else%}
	                                                <TD><input name="asistencia" type="checkbox" disabled = "disabled"/>
	                                                {%endif%}
	                                       {%endif%}
					    </TD>
					{% endfor %}
					</TABLE>
				</div>	
				<div class="acciones">
					<div class="asistir_noAsistir">
						<a id="asistir" class="asisto" href="#">Asistir</a>
						<a id="no_asistir" class="no_asisto" href="#">No Asistir</a>
					</div>
				</div>
			</div>
			<div class="titulares">
				<h3>
					<strong class="titulo">cantidad!:</strong>
					<strong class="cantidad">{{asisten}}/{{cantidad}}</strong>
				</h3>			
			</div>
 		</section >
	
	<section class="wrap">
	
			<ul class = "equipos_resulado">
				<li class="equipo">{{equipo1}}</li>
				<li class="goles">123</li>
				<li class="vs">VS</li>
				<li class="equipo">{{equipo2}}</li>
				<li class="goles">124</li>
			</ul>
		
			
			<div class="equipos">
				<TABLE class="tabla" FRAME="void" RULES="cols">
				  <TR>
					    {% for equipo in Todos_los_equipos %}
					  <TD>{{equipo}}</TD>
					     {% endfor %}
				  </TR>
				
				{% for jugador_v, jugador_l in jugadores %}
				  <TR>
				       <TD>{{jugador_l.usuario}}</TD>
				       <TD>{{jugador_v.usuario}}</TD>
				  </TR>
				{% endfor %}
				<!--
				{% for jugadorv in jugador_v %}
				  <TR>
				       <TD>{{jugadorv.usuario}}</TD>
				  </TR>
				{% endfor %}
				
				{% for jugadorl in jugador_l %}
				  <TR>
				       <TD>{{jugadorl.usuario}}</TD>
				  </TR>
				{% endfor %}
				-->
				</TABLE>
			</div>
			
			<div class="acciones">
				<a id="cambiazo" class="cambiar_a" href="#">cambiazo</a>
			</div>

		
		<div class="wrap_2">
			<a class="estrategia" href="#">Estrategia</a>
		</div>

	</section>
{% endblock %}
{% block javascript%}

   <script type="text/javascript" src="{{ STATIC_URL }}js/homeAjax.js"></script>

{% endblock %}