{% extends "Futbool-template/base.html" %}
	{% block wraper %}
			{% block wraper_izquierda %}
			<div class="agregar_jugador_left">
				<h4 class="accion_left">
				   <a href="{% url 'invitar' '0' %}">Invitar Jugador</a>
				</h4>
			</div>
			
			{% endblock wraper_izquierda %}

			{% block wraper_centro %}
			<div class="titular">
				<h1 class="titulo">
					RunPlayers
				</h1>
			</div>
			{% endblock wraper_centro %}

			{% block wraper_derecho %}
				<div class="logo_usuario_right">
     				    <img src="{{user.avatar}}">
     				    <a href="{% url 'auth:logout' %}?next={%url 'login' %}">Logout</a>
				</div>
			{% endblock wraper_derecho %}
	{% endblock %}
{% block wraper1 %}
	<ul class="menu">
		<li class="Nuevo_Grupo"><a href="{% url 'registrar' %}">Nuevo Grupo +</a></li>
		<li class="nombre">
		<a id="nombre_de_grupo" href="#">{{nombreDelGrupo.nombreDGrupos.nombreDelGrupo}}</a>
		    {%if cant > 0%}
                             <a href="{% url 'invitacion' %}">{{cant}}</a>
                        {%endif%}
		</li>
		<li class="cambiar"><a href="#">cambiar de grupo</a>
			<ul class="sub">
				{% for grupos in nombreDelGrupos %}
				    {%if grupos.eventos.nombreDGrupos.nombreDelGrupo != nombreDelGrupo.nombreDGrupos.nombreDelGrupo%}
				        <li><a class="cambiarlo" href="/{{grupos.eventos.id}}" >{{grupos.eventos.nombreDGrupos.nombreDelGrupo}}</a></li>
                                         {%endif%}
				{% endfor %}
			</ul>
		</li>
	</ul>
{% endblock %}

{% block wraper2 %}
<section class="wrap">
			<div class ="lista">
				<div class = "menu">
					<TABLE class="asistencia" FRAME="void" RULES="cols" >
				 	 <TR>
						   <TD>nombre</TD>
					 	   <TD>Asistira!</TD>
				 	 </TR>
					{% for usuario in todos_los_usuarios %}
				  	<TR>
				  	    {%if usuario.usuario.username == user.username%}
					        <TD id="nombre_usuario">{{usuario.usuario.username}}</TD>
	                                         {%else%}
	                                             <TD>{{usuario.usuario.username}}</TD>
	                                         {%endif%}
					    {%if usuario.asistencia == True%}
					        {%if usuario.usuario.username == user.username%}
					            <TD><input name="asistencia" type="checkbox" checked/>
					           {%else%}
					            <TD><input name="asistencia" type="checkbox" checked disabled = "disabled"/>
	                                               {%endif%}
					    {%else%}
	                                               {%if usuario.usuario.username == user.username%}
					                 <TD><input name="asistencia" type="checkbox" />
	                                               {%else%}
	                                                <TD><input name="asistencia" type="checkbox" disabled = "disabled"/>
	                                                {%endif%}
	                                       {%endif%}
					    </TD>
					{% endfor %}
					</TABLE>
				</div>	
				<div class="acciones">
					<div class="asistir_noAsistir">
						<a id="asistir" class="asisto" href="#">Asistir</a>
						<a id="no_asistir" class="no_asisto" href="#">No Asistir</a>
					</div>
				</div>
			</div>
			<div class="titulares">
				<h3>
					<strong class="titulo">cantidad!:</strong>
					<strong class="cantidad">{{asisten}}/{{cantidad}}</strong>
				</h3>			
			</div>
 		</section >
	
	<section class="wrap">
	
			<ul class = "equipos_resulado">
				<li class="equipo">{{equipo_local}}</li>
				<li class="goles">{{gol_local}}</li>
				<li class="vs">VS</li>
				<li class="equipo">{{equipo_visitante}}</li>
				<li class="goles">{{gol_visitante}}</li>
			</ul>
		
			
			<div class="equipos">
				<TABLE class="tabla" FRAME="void" RULES="cols">
				  <TR>
					    {% for equipo in Todos_los_equipos %}
					  <TD>{{equipo}}</TD>
					     {% endfor %}
				  </TR>
				<!--
				{% for jugador_v, jugador_l in jugadores %}
				  <TR>
				       <TD>{{jugador_l.usuario}}</TD>
				       <TD>{{jugador_v.usuario}}</TD>
				  </TR>
				{% endfor %}
				-->
				{% for jugador in jugadores %}
				  <TR>
				       <TD>{{jugador.j1.usuario}}</TD>
				       <TD>{{jugador.j2.usuario}}</TD>
				  </TR>
				{% endfor %}
				</TABLE>
			</div>
			
			<div class="acciones">
				<a id="cambiazo" class="cambiar_a" href="#">cambiazo</a>
			</div>

		
		<div class="wrap_2">
			<a class="estrategia" href="{%url 'estrategias' nombreDelGrupo.nombreDGrupos.id %}">Estrategia</a>
		</div>
		
		<div>
                           <p>{{nombreDelGrupo.lugar }}</p>
			<!--<p>{{nombreDelGrupo.dias_horas }}</p>-->
			<p>{{dia_cercano}}</p>
			{%if nombreDelGrupo.usuarioCreador.id == user.id %}
			    <a class="estrategia" href="{%url 'configurar' nombreDelGrupo.nombreDGrupos.id %}">configurar</a>
			{%else%}
			    <a class="estrategia" href="">No Configurable</a>
			{%endif%}
			
		</div>

	</section>
{% endblock %}
{% block javascript%}

   <script type="text/javascript" src="{{ STATIC_URL }}js/homeAjax.js"></script>

    <script>
    $(document).on('ready',function (){

            var cargar_goles = "{{ cargar_goles }} ";
            var gol_v = 12;
            var gol_l = 23;
            if( cargar_goles == 1){
                alert("se tiene q cargar los goles");
                do{
                gol_v = prompt("ingrese la cantidad de goles del visitante!",0);
                }while(gol_v<0);
                do{
                gol_l = prompt("ingrese la cantidad de goles del local!",0);
                }while(gol_l<0);
                $.ajax({
                     data: { 'fecha_proximo':"{{ dia_cercano }} " ,
                             'id_evento': "{{ id_evento }} ",
                             'gol_v': gol_v,
                             'gol_l': gol_l,
                            },
                     url: '/cargar_goles/',
                     type: 'get',
                     success : function(data) {
                     if(data.code=='OK'){
                         alert("Datos cargados");
                         location.reload();
                         }
                    else
                        {
                         alert(data.message);
                        }
                     },
                    error : function(data) {
                    console.log('ERROR EN LA COMUNICACION CON EL SERVIDOR')
                      },
                complete: function(jqXHR, estado)
                    {
                        console.log(estado);
                    },
                 });
                 }
            else
                //alert("todavia no se jugo");
 });
    </script>
{% endblock %}