{% extends "Futbool-template/base.html" %}


{% block wraper %}
		        {% block wraper_izquierda %}
	                    <div class="agregar_jugador_left">
		                    <h2 class="accion_left">
				    <a href="{% url 'home' %}">volver</a>
			        </h2>
		        </div>
                        {% endblock wraper_izquierda %}

			{% block wraper_centro %}
			<div class="titular">
				<h1 class="titulo">
					RunPlayers
				</h1>
			</div>
			{% endblock wraper_centro %}

			{% block wraper_derecho %}
				<div class="logo_usuario_right">
     				    <img src="{{user.avatar}}">
     				    <a href="{% url 'auth:logout' %}?next={%url 'home' %}">Logout</a>
				</div>
			{% endblock wraper_derecho %}
{% endblock %}


{% block wraper1 %}
	<ul class="menu">
		<li class="Nuevo_Grupo"><a href="#">#</a></li>
		<li class="nombre">
		<a id="nombre_de_grupo" href="#">{{nombreDelGrupo}}</a>
		    {%if cant > 0%}
                             <a href="{% url 'invitacion' %}">{{cant}}</a>
                        {%endif%}
		</li>
		<li class="cambiar"><a href="#">cambiar de grupo</a>
			<ul class="sub">
				{% for grupos in nombreDelGruposs %}
				    {%if grupos.nombreDGrupos.nombreDelGrupo != nombreDelGrupo%}
				        <li><a class="cambiarlo" href="/invitas/{{grupos.id}}" >{{grupos.nombreDGrupos.nombreDelGrupo}}</a></li>
                                         {%endif%}
				{% endfor %}
			</ul>
		</li>
	</ul>
{% endblock %}


{% block wraper2 %}
	<div class="invitar">
			<div class="buscador">
				<form method="post" action="/invitar/" >{% csrf_token %}
				{{form.username}}
				{{error}}
				<input class="boton-buscar" type="submit" value="Buscar">
				</form>
			</div>
			<div class="usuario">
				

				<TABLE class="datos" FRAME="void" RULES="cols"  WIDTH = "100" >
				 	 <TR class="titulo">
						   <TD><label>Nombre Del Jugador</label></TD>
					 	   <TD><label>Equipo al que pertenece</label></TD>
					 	   <TD><label>grupo al que pertenece</label></TD>
					 	   <TD><label>invitar</label></TD>
				 	 </TR>
				
				  	<TR class="dato-jugador">
					    <TD id="nombre">{{nombre_jugador}}</TD>
					    <TD id="equipo"> {{equipo_local}}</TD>
					    <TD id="grupo">{{nombreDelGrupos}}</TD>
					 <TD><input class="boton-invitar" type="submit" value="Invitar"></TD>
				  	</TR>
				  	
				</TABLE>
				
			</div>
		</div>
{% endblock %}

{% block javascript%}

   <script type="text/javascript" src="{{ STATIC_URL }}js/invitarAjax.js"></script>

{% endblock %}