{% extends "Futbool-template/base.html" %}

{% block wraper1 %}
		<ul class="menu">
			<li class="Nuevo_Grupo"><a href="#">#</a></li>
			<li class="nombre"><a href="#">CREAR TU GRUPO Y EQUIPOS</a></li>
			<li class="cambiar"><a href="#">#</a></li>
		</ul>
{% endblock %}

{% block wraper2 %}
	<h2>{{ user }} Bienvenido  RunPlayers</h2>
	<form method = "POST">{% csrf_token %}
		<p>
			<label>usuario</label>
			<input type="text" name="username">
			{{ error_username}}
		</p>
			{{form_grupos.as_p}} 
			{{form_membership.as_p}} 
			{{form_equipos.as_p}}
        <input type="submit" value="Guardar">
	</form>
{% endblock %}
