{% extends "Futbool-template/base.html" %}

{% block wraper1 %}
		<ul class="menu">
			<li class="Nuevo_Grupo"><a href="#">#</a></li>
			<li class="nombre"><a href="#">CREAR TU GRUPO Y EQUIPOS</a></li>
			<li class="cambiar"><a href="#">#</a></li>
		</ul>
{% endblock %}

{% block wraper2 %}
	<form method = "POST">{% csrf_token %}
		{% if user.status == False %}
			<h2>{{ user }} Bienvenido  RunPlayers</h2>
			<p>
				<label>Cambie su nombre de Usuario!</label>
				{{form.username}}
				{{ error_username}}
			</p>
		{% else %}
			<h2>{{ user }} --- Crea Tu Grupo</h2>
		{% endif %}
		<p>
			<label>dias de juego y hora</label>
			{{form_membership.dias_horas}}
			{{ error_diaDeJuegoYhoras}}
		</p>
		<p>
			<label>Lugar o Nombre del Lugar</label>
			{{form_membership.lugar}}
			{{ error_lugar}}
		</p>
		<p>
			<label>nombre del Grupo</label>
			{{form_grupos.nombreDelGrupo}}
			{{ error_nombreDelGrupo}}
		</p>
		<p>
			<label>Nombre del Equipo Local</label>
			{{form_equipos.nombreDelEquipo}}
			{{ error_nombreDeEquipoLocal}}
		</p>
		<p>
			<label>Nombre del Equipo Visitante</label>
			{{form_equipos.nombreDelEquipo}}
			{{ error_nombreDelEquipoVisitante}}
		</p>
        <input type="submit" value="Guardar">
	</form>
{% endblock %}
